In [1]:
#Importing Libraries
import pandas as pd
import os

In [2]:
#Loading and Reading the csv files
less5 = pd.read_csv(os.getcwd()+'/Lessthan_5_victim_count.csv')
b5_14 = pd.read_csv(os.getcwd()+"/"+"5_to_14_victim_count.csv")
b15_30 = pd.read_csv(os.getcwd()+"/"+"15_to_30_victim_count.csv")
high30 = pd.read_csv(os.getcwd()+"/"+"Highest_victim_count.csv")

In [3]:
#Checking for null values
print(less5.isnull().sum())
print("=======================")
print(b5_14.isnull().sum())
print("=======================")
print(b15_30.isnull().sum())
print("=======================")
print(high30.isnull().sum())

Name                0
Country             0
Years active        0
Proven victims      0
Possible victims    0
Notes               0
dtype: int64
=======================
Name                 0
Country              0
Years active         0
Proven victims       0
Possible victims    66
Notes                0
dtype: int64
=======================
Name                0
Country             0
Years active        0
Proven victims      0
Possible victims    2
Notes               0
dtype: int64
=======================
Name                0
Country             0
Years active        0
Proven victims      0
Possible victims    0
Notes               0
dtype: int64

# As we need every row of the dataset we cannot drop rows that contain null values.
# Since the column "Possible victims" cannot be determined through mean median or mode we simply replace the null values by 0.

In [4]:
#Null values are present in Possible victims of Dataset b5_14 and b15_30
b5_14["Possible victims"] = b5_14["Possible victims"].fillna(0)
b15_30["Possible victims"] = b15_30["Possible victims"].fillna(0)

In [5]:
#Checking the dataset after removing null values
print(less5.isnull().sum())
print("=======================")
print(b5_14.isnull().sum())
print("=======================")
print(b15_30.isnull().sum())
print("=======================")
print(high30.isnull().sum())

Name                0
Country             0
Years active        0
Proven victims      0
Possible victims    0
Notes               0
dtype: int64
=======================
Name                0
Country             0
Years active        0
Proven victims      0
Possible victims    0
Notes               0
dtype: int64
=======================
Name                0
Country             0
Years active        0
Proven victims      0
Possible victims    0
Notes               0
dtype: int64
=======================
Name                0
Country             0
Years active        0
Proven victims      0
Possible victims    0
Notes               0
dtype: int64

# Checking for intersecting values between the datasets

In [6]:
#Checking for intersecting values between the datasets
s1 = set(less5["Name"])
s2 = set(b5_14["Name"])
s3 = set(b15_30["Name"])
s4 = set(high30["Name"])

print(pd.Series(list(s1.intersection(s2)),dtype=object))
print(pd.Series(list(s1.intersection(s3)),dtype=object))
print(pd.Series(list(s1.intersection(s4)),dtype=object))
print(pd.Series(list(s2.intersection(s3)),dtype=object))
print(pd.Series(list(s2.intersection(s4)),dtype=object))
print(pd.Series(list(s3.intersection(s4)),dtype=object))

Series([], dtype: object)
Series([], dtype: object)
Series([], dtype: object)
Series([], dtype: object)
Series([], dtype: object)
Series([], dtype: object)

# As there are no common values between the dataset we can simply merge them as one dataset

In [7]:
#merging all datasets into one
updated = pd.DataFrame()
updated = updated.append(less5)
updated = updated.append(b5_14)
updated = updated.append(b15_30)
updated = updated.append(high30)
updated

C:\Users\ACER\AppData\Local\Temp\ipykernel_9108\1093873313.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated = updated.append(less5)
C:\Users\ACER\AppData\Local\Temp\ipykernel_9108\1093873313.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated = updated.append(b5_14)
C:\Users\ACER\AppData\Local\Temp\ipykernel_9108\1093873313.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated = updated.append(b15_30)
C:\Users\ACER\AppData\Local\Temp\ipykernel_9108\1093873313.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated = updated.append(high30)

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...
1,Robert Black,"United Kingdom,Ireland (suspected),West German...",1981 to 1986,4,18,"Convicted of kidnapping, raping and murdering ..."
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected..."
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...
...,...,...,...,...,...,...
29,Ali Asghar Borujerdi,"Ottoman Empire,Iraq,Iran",1907 to 1934,33,33,"Known as ""Asghar the Murderer"". Killed 33 youn..."
30,Vasili Komaroff,Soviet Union,1921 to 1923,33,33,"Known as ""The Wolf of Moscow""; horse trader wh..."
31,Fernando Hernández Leyva,Mexico,1982 to 1999,33,100,Confessed to 100 murders and six kidnappings a...
32,Ramadan Abdel Rehim Mansour,Egypt,1999 to 2006,32,32,"Gang leader known as al-Tourbini (""The Express..."
33,Radik Tagirov,Russia,2011 to 2012,32,32,Serial killer called Radik Tagirov who murdere...

# Manual Step of replacing "-" with "s" due to it converting the value to Date format.
# E.g :- 5-22 was being read as 22nd May
# Loading the CSV file which was altered manually

In [8]:
#loading the CSV file that was altered
manual = pd.read_csv(os.getcwd()+"\manual.csv")

# Dropping  columns of the Dataset that are not needed

In [9]:
manual = manual.drop(["Unnamed: 0","Unnamed: 0.1"],axis=1)

# Updating values of the columns according the model

In [10]:
proven = []
possible = []

for i in manual["Proven victims"]:
    l = list(i.split('s'))
    if(len(l)==1):
        proven.append(int(l[0]))
    else:
        x = int(l[0])
        y = int(l[1])
        proven.append(int((x+y)/2))
        
for i in manual["Possible victims"]:
    l = list(i.split('s'))
    if(len(l)==1):
        possible.append(int(l[0]))
    else:
        x = int(l[0])
        y = int(l[1])
        possible.append(int((x+y)/2))

manual["Proven victims"] = proven
manual["Possible victims"] = possible

# Calculating conditional probability to find out crime coefficient

In [11]:
manual["Poss&Prov"] = abs(manual["Possible victims"] - manual["Proven victims"])
manual["CrimeCofficient"] = round((manual["Poss&Prov"] / manual["Proven victims"]),2)
manual["CrimeCofficient"] = manual["CrimeCofficient"].replace([0.00], 1.00)
manual.drop(["Poss&Prov"],axis=1,inplace=True)

# Viewing the finalized dataset and saving it in CSV format for later use

In [12]:
manual

,Name,Country,Years active,Proven victims,Possible victims,Notes,CrimeCofficient
0,Carl Eugene Watts,United States,1974 to 1982,14,80,Believed to have killed over 80 women in multi...,4.71
1,Philipp Tyurin,Soviet Union,1945 to 1946,14,29,"Known as the ""Leningrad Maniac"" and the ""Hellr...",1.07
2,Zdzislaw Marchwicki,Poland,1964 to 1970,14,21,Also known as Vampire of Zaglbie. Killed 14 wo...,0.50
3,Monster of Florence,Italy,1968 to 1985,14,16,Unidentified killer who shot couples in lovers...,0.14
4,Joachim Kroll,West Germany,1955 to 1976,14,0,"Known as the ""Ruhr Cannibal"" and ""The Duisburg...",1.00
...,...,...,...,...,...,...,...
300,Ali Asghar Borujerdi,"Ottoman Empire,Iraq,Iran",1907 to 1934,33,33,"Known as ""Asghar the Murderer"". Killed 33 youn...",1.00
301,Vasili Komaroff,Soviet Union,1921 to 1923,33,33,"Known as ""The Wolf of Moscow""; horse trader wh...",1.00
302,Fernando Hernandez Leyva,Mexico,1982 to 1999,33,100,Confessed to 100 murders and six kidnappings a...,2.03
303,Ramadan Abdel Rehim Mansour,Egypt,1999 to 2006,32,32,"Gang leader known as al-Tourbini (""The Express...",1.00
304,Radik Tagirov,Russia,2011 to 2012,32,32,Serial killer called Radik Tagirov who murdere...,1.00

In [204]:
manual.to_csv("cleaned_finalized.csv")

In [13]:
manual.describe()

       Proven victims  Possible victims  CrimeCofficient
count      305.000000        305.000000       305.000000
mean        16.501639         24.842623         1.641344
std         16.193144         34.876495         2.607162
min          3.000000          0.000000         0.030000
25%          8.000000          3.000000         0.830000
50%         12.000000         16.000000         1.000000
75%         18.000000         29.000000         1.000000
max        138.000000        300.000000        19.000000